*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}

.container{
background-color:white;
height: 100vh;
display: flex;
padding: 10px;
}
.main-top{
  flex-direction: column;
  display: flex;
flex:4;
gap: 10px;

}
.left-1-div{
flex: 2;
border: 2px solid gray;
border-radius: 10px;
gap: 10px;
margin: 10px;
}
.nav-left{
padding: 10px;
}
.nav-left h3{
  font-family:sans-serif;
  font-weight: 600;
}
.wedding-requisties-left{

}
.right-1-div{
flex:2;
border: 2px solid gray;
border-radius: 10px;
gap: 10px;
margin: 10px;
}
.nav-right{
padding: 10px;
}
.nav-right h3{
  font-family:sans-serif;
  font-weight: 600;

}
.images{
  display: flex;
  justify-content: space-evenly;
gap: 10px;


}
.images p{
  font-family: sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
 padding-top: 20px;
  
}

.images img{
  border-radius: 10px;
  height: 200px;
  max-width: 200px;
 }
 
.main-bottom{
display: flex;
flex-direction: column;
  flex:4;
  gap: 10px;

}
.left-2-div{
flex:2;
border: 2px solid gray;
border-radius: 10px;
gap: 10px;
margin: 10px;
}
.nav-left-bottom{
padding: 10px;
}
.nav-left-bottom{
  font-family:sans-serif;
  font-weight: 600;
}
.wedding-requisties-down{

}
.right-2-div{
flex:2;
border: 2px solid gray;
border-radius: 10px;
margin: 10px;

}
.nav-right-bottom{
padding: 10px;
}
.nav-right-bottom h3{
  font-family:sans-serif;
  font-weight: 600;
}
.wedding-requisties-down{

}